<!--
  Generated template for the RipetizionePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ripetizione</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>

  <ion-item>
    <ion-avatar>
      <img src="assets/images/1.jpg">
    </ion-avatar>
    <h2>{{ripetizione.tutor.nome}} {{ripetizione.tutor.cognome}}</h2>
    <p>{{ripetizione.tutor.dataDiNascita}}</p>
    <p>{{ripetizione.tutor.titoloDiStudi}}</p>
    <div *ngIf="ripetizione.tutor.voto === 5"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
    <div *ngIf="ripetizione.tutor.voto === 4"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
    <div *ngIf="ripetizione.tutor.voto === 3"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
    <div *ngIf="ripetizione.tutor.voto === 2"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
    <div *ngIf="ripetizione.tutor.voto === 1"><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
    <div *ngIf="ripetizione.tutor.voto === 0"><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
  </ion-item>

  <ion-card-content>
      
  </ion-card-content>
</ion-card>
   <ion-item>
    <p>Costo : {{ripetizione.costo}} <ion-icon name="logo-euro"></ion-icon></p>
    <p>Categoria : {{ripetizione.categoria}}</p>
    <p *ngFor="let materia of ripetizione.materie"> Materia : {{materia.nome}}</p>
    <p> Città : {{ripetizione.citta}} </p>
    <p> Luogo d'Incontro : {{ripetizione.luogoIncontro}} </p>
    <p> Descrizione : {{ripetizione.descr}} </p>
    <button ion-button full>Prenotati</button>

    
</ion-item>
</ion-content>


