
<ion-header>
    
    <ion-navbar color="primary" text-center>
        <ion-title>Dettaglio Ripetizione</ion-title>
    </ion-navbar>
    
</ion-header>

<ion-content padding>
    
    <ion-card>
        <ion-card-content>
            <ion-row align-self-center justify-content-center>
                <ion-col col-auto>
                    <div>                
                        <ion-item no-lines class="foto-margin">
                            <ion-avatar>
                                <img src="{{my_url_img+ripetizione.tutor.imgProfilo}}" style="width: 150px;height: 150px;">
                            </ion-avatar>
                        </ion-item>
                        <div text-center>
                            <h4>{{ripetizione.tutor.nome | capitalize }} {{ripetizione.tutor.cognome | surname}}</h4> 
                            <p>{{ripetizione.tutor.dataDiNascita | age}}</p>
                            <p>{{ripetizione.tutor.titoloDiStudi}}</p>
                        </div>
                        <div text-center>
                            <div *ngIf="ripetizione.tutor.voto  === 5 "><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
                            <div *ngIf="ripetizione.tutor.voto === 4"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                            <div *ngIf="ripetizione.tutor.voto  === 3"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                            <div *ngIf="ripetizione.tutor.voto === 2"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                            <div *ngIf="ripetizione.tutor.voto === 1"><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                            <div *ngIf="ripetizione.tutor.voto === 0"><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-item>
        <p>Costo : {{ripetizione.costo}} <ion-icon name="logo-euro"></ion-icon></p>
        <p>Categoria : {{ripetizione.categoria.nome}}</p>
        <p *ngFor="let materia of ripetizione.materie"> Materia : {{materia.nome}}</p>
        <p> Città : {{ripetizione.citta}} </p>
        <p> Luogo d'Incontro : {{ripetizione.luogoIncontro}} </p>
        <p> Descrizione : {{ripetizione.descr}} </p>
        <button ion-button full (click)="goPrenotazione(ripetizione)" >Prenotati</button>
        
        
    </ion-item>
</ion-content>


