page-home {
    .home{
        margin-top: 25%;
    }
    .content{
        background-image: url('../assets/images/quadri.jpg');
        background-size: 100%;
    }
        
    
    .icon{
        color:white !important;
    }
    .button{
       margin-top: 25px;
       margin-left: auto;
       margin-right: auto;
       width: 200px;
    }
}
