<ion-header>
  <ion-navbar>
    <ion-title>
        TrovaRipetizioni
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-list>

        <ion-item>
          <ion-input type="text" placeholder="Città"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Seleziona Categoria</ion-label>
            <ion-select #c (ionChange)="getMaterie(c.value)">
              <ion-option *ngFor="let categoria of categories" value={{categoria.key}}>{{categoria.nome}}</ion-option>
            </ion-select>
        </ion-item>
       <ion-item>
            <ion-label>Seleziona Materia</ion-label>
            <ion-select >
              <ion-option *ngFor="let materia of subjects" value={{materia.key}}>{{materia.nome}}</ion-option>
            </ion-select>
        </ion-item>

    </ion-list>
</ion-content>
