
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Modifica Ripetizione
    </ion-title>
  </ion-navbar> 
</ion-header>

<ion-content>
    <h4 text-center class="mod-rip-categ">{{ripetizione.materie[0].categoria.nome}}</h4>
    <ion-item class="materianuova">
            <ion-label>Materia</ion-label>
            <ion-select #m>
              <ion-option *ngFor="let mat of subjects" ngDefaultControl value={{mat.nome}}>{{mat.nome}}</ion-option>
            </ion-select>
        </ion-item>
     <ion-item *ngFor=" let choose of ripetizione.materie" >
         <ion-input clear disabled="true"  type="text" #scelta value="{{choose.nome}}"></ion-input>
      <ion-note item-end>
       <button ion-button icon-start clear color="dark" (click)="removeMateriaToList(scelta)" >
                    <ion-icon name='remove-circle' color="secondary"></ion-icon>
        </button>
      </ion-note>
    </ion-item>

    <p text-center>
        <button ion-button icon-start large clear (click)="addMateriaToList(m);">
            <ion-icon name='add-circle' color="primary"></ion-icon>
        </button>
    </p>
    <ion-list>

  <ion-item>
    <ion-input type="text" [(ngModel)]="citta" placeholder="Città"></ion-input>
    <button (click)="geolocate();" ion-button icon-only clear item-right><ion-icon name="locate" color="secondary"></ion-icon></button> 
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="ripetizione.luogoIncontro" placeholder="Luogo di Incontro"></ion-input>
  </ion-item>
    
     <ion-item>
    <ion-input type="number" [(ngModel)]="ripetizione.costo" placeholder="Prezzo/Ora"></ion-input>
    <ion-icon item-end name='logo-euro' color="secondary"></ion-icon>
    
  </ion-item>
    <ion-item>
   <ion-textarea [(ngModel)]="ripetizione.descr" placeholder="Descrizione" ></ion-textarea>
  </ion-item>

</ion-list>     
    <ion-row>
        <ion-col><p text-center><button ion-button (click)="doConfirm()">Elimina</button></p></ion-col>
        <ion-col><p text-center><button ion-button (click)="updateRipetizione()">Modifica</button></p></ion-col>
  </ion-row>
    

</ion-content>
