<!--
  Generated template for the ModificaRipetizionePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" text-center>
    <ion-title>
      Modifica Ripetizione
    </ion-title>
  </ion-navbar> 
</ion-header>

<ion-content>
    <h4 text-center class="mod-rip-categ">{{ripetizione.materie[0].categoria.nome}}</h4>
    <ion-item>
            <ion-label>Materia</ion-label>
            <ion-select #m>
              <ion-option *ngFor="let mat of subjects" ngDefaultControl value={{mat.nome}}>{{mat.nome}}</ion-option>
            </ion-select>
        </ion-item>
     <ion-item *ngFor=" let choose of ripetizione.materie" >
         <ion-input clear disabled="true"  type="text" #scelta value="{{choose.nome}}"></ion-input>
      <ion-note item-end>
       <button ion-button icon-start clear color="dark" (click)="removeMateriaToList(scelta)" >
                    <ion-icon name='remove-circle'></ion-icon>
        </button>
      </ion-note>
    </ion-item>

    <p text-center>
        <button ion-button icon-start large clear (click)="addMateriaToList(m);">
            <ion-icon name='add-circle'></ion-icon>
        </button>
    </p>
    <ion-list>

  <ion-item>
    <ion-label floating>Città</ion-label>
    <ion-input type="text" [(ngModel)]="citta"></ion-input>
    <button ion-button item-end outline clear large><ion-icon name='md-locate'></ion-icon></button>
  </ion-item>

  <ion-item>
    <ion-label floating>Luogo incontro</ion-label>
    <ion-input type="text" [(ngModel)]="ripetizione.luogoIncontro"></ion-input>
  </ion-item>
    
     <ion-item>
    <ion-label floating>Prezzo/Ora</ion-label>
    <ion-input type="number" [(ngModel)]="ripetizione.costo"></ion-input>
    <ion-icon item-end name='logo-euro' color="primary"></ion-icon>
    
  </ion-item>
    <ion-item>
        <ion-label floating>Descrizione</ion-label>
   <ion-textarea [(ngModel)]="ripetizione.descr" ></ion-textarea>
  </ion-item>

</ion-list>     
    <ion-row>
        <ion-col><p text-center><button ion-button (click)="doConfirm()">Elimina</button></p></ion-col>
        <ion-col><p text-center><button ion-button (click)="updateRipetizione()">Modifica</button></p></ion-col>
  </ion-row>
    

</ion-content>
