page-inseriscifeedback {
    .item.item-textarea{
            margin: auto;
            margin-top: 20px !important;
    }
    .value>.icon{
        font-size: 200%;
        margin-right: 10px;
    }
    .value>.icon[name="star"]{
        color:color($colors, star);
    }
    .value>.icon[name="star-outline"]{
        color:color($colors, star-des); 
    }
    .value{
            position: static;
            text-align: center;
    }
    .label{
        font-size: 20px;
        margin-top: 25px;
    }
    #button{
            width: 200px;
    }
}
