page-mio-profilo {
    
	 .mio-profilo{
        padding-bottom: 20px;
    }   
    .profilo-info{
        margin-left: 20px;
    }
    .profilo-info p {
        display: inline;
        line-height: 40px;
    }
    .modifica-btn{
        width: 10px;
        height:10px;
    }
    
    ion-title {
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
	
}
