page-mio-profilo {
    
    .mio-profilo{
        padding-bottom: 20px;
    }   
    .profilo-info{
        margin-left: 20px;
    }
    .profilo-info p {
        display: inline;
        line-height: 40px;
    }
    .modifica-btn{
        width: 10px;
        height:10px;
    }
    
    
    .centerprof{
       text-align: center;
    }
    
}


