<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Il Mio Profilo
    </ion-title>
  </ion-navbar> 
</ion-header>

<ion-content>
    
    <ion-row align-self-center justify-content-center>
        <ion-col col-auto>
            <div class="mio-profilo">
                <!-- simbolo 
                <p>
                    <button ion-button color="dark" clear icon-only right edge>
                      <ion-icon name='create' is-active="false"></ion-icon>
                    </button>
                </p> -->
                <ion-fab right edge>
                    <button ion-fab color="vibrant" mini (click)="accessGallery();"><ion-icon name="create"></ion-icon></button>
                </ion-fab>
                <ion-item no-lines>
                    <ion-avatar>
                        <img [src]="image" [(ngModel)]="image" ngDefaultControl style="width: 150px;height: 150px;">
                    </ion-avatar>
                </ion-item>
                <div text-center>
                   <p>{{ utente.nome | capitalize }} {{ utente.cognome | surname }} {{utente.dataDiNascita | age}}</p> 
                </div>
                <div text-center>
                            <div *ngIf="utente.voto === 5"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
                            <div *ngIf="utente.voto === 4"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                            <div *ngIf="utente.voto === 3"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                            <div *ngIf="utente.voto === 2"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                            <div *ngIf="utente.voto === 1"><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                            <div *ngIf="utente.voto === 0"><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                </div>
            </div>
        </ion-col>
    </ion-row>
    
    <ion-toolbar no-border-top ion-slide>
        <ion-segment [(ngModel)]="mioprofilo" ion-slide>
          <ion-segment-button value="profilo">
            PROFILO
          </ion-segment-button>
          <ion-segment-button value="ripetizioni">
            RIPETIZIONI
          </ion-segment-button>
          <ion-segment-button value="feedback">
            FEEDBACK
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    
    <div [ngSwitch]="mioprofilo">
        <div *ngSwitchCase="'profilo'">
            <div class="profilo-info">
                <p>Città: {{citta}}</p> 
                <p>
                </p>
            </div>
            <div class="profilo-info">
                <p>Telefono:</p> 
                <p>{{utente.telefono}}</p>
                <p>
                </p>
            </div>
            <div class="profilo-info">
                <p>Titolo di studi: {{utente.titoloDiStudi}}</p> 
                <p>
                </p>
            </div>
            <div class="centerprof">
                <button ion-button primary item-right (click) = "goModificaProfilo();">Modifica</button>
            </div>
        </div>

        <div *ngSwitchCase="'ripetizioni'">
            <ion-card *ngFor="let ripetizione of ripetizioni">
                <ion-fab right edge>
                    <button ion-fab color="vibrant" mini (click)="goModificaRipetizione(ripetizione)"><ion-icon name="create"></ion-icon></button>
                </ion-fab>
                <ion-card-content>
                    <ion-row>
                        <ion-col>
                            <p>{{ripetizione.materie[0].categoria.nome}}</p>
                        </ion-col>
                        <ion-col>
                            <p>{{ripetizione.costo}} €</p>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <p text-center>
                <button ion-button item-right (click)="goAggiungiRipetizione();">Aggiungi</button>
            </p>
        </div>

        <div *ngSwitchCase="'feedback'">
            <ion-card *ngFor="let feedback of feedbacks">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/images/1.jpg">
                    </ion-avatar>
                    <h2>{{feedback.studente.nome}}</h2>
                    <p>{{feedback.data}}</p>
                    <div>
                        <div *ngIf="feedback.voto === 5"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
                        <div *ngIf="feedback.voto === 4"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                        <div *ngIf="feedback.voto === 3"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                        <div *ngIf="feedback.voto === 2"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                        <div *ngIf="feedback.voto === 1"><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                        <div *ngIf="feedback.voto === 0"><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
                    </div>
                </ion-item>
                <ion-card-content>
                  <p>{{feedback.recensione}}</p>
                </ion-card-content>
            </ion-card>
        </div>

    </div>
    
</ion-content>